extends index.pug

block content

  style.
    h4 {
      padding-bottom: 2rem
    }

  h4 Add new course

  form(action="/add" method="POST")
    .input-field
      input.validate#name(type="text" name="name" required)
      label(for="name") Course name
      span.helper-text(data-error="Enter Course name")

    .input-field
      input.validate#price(type="number" name="price" min="1" required)
      label(for="price") Course price
      span.helper-text(data-error="Enter Course price")
    
    .input-field
      input.validate#img(type="text" name="img" required)
      label(for="img") Course image
      span.helper-text(data-error="Enter Course URL image")

    input(type="hidden" name="_csrf" value= csrf)

    button.btn.btn-primary(type="submit") Add course